extends layout

block content
        .row
            .col-md-6
             .container-fluid
                p.lead.text-uppercase
                    br
                    | Find the right Rando talent. Search by Name, talents desired location, or talent listed skills.
                form.search
                    .form-group
                        label(for='srhFrstName') First
                        input#srhFrstName.form-control(type='text', name='firstName', placeholder='First')

                    .form-group
                        label(for='srhLstName') Last
                        input#srhLstName.form-control(type='text', name='lastName', placeholder='Last')

                    .form-group
                        label(for='locDes') Location Available
                        input#locDes.form-control(type='text', name='locDesire', placeholder='Location Desired')

                    .form-group
                        label(for='skills') Skills Required
                        input#skills.form-control(type='text', name='skillDesire', placeholder='Skills Desired')
                        button.btn.btn-default.searchSkills(type='submit') Submit
            .col-md-6
                img.img-responsive(src='images/rdo.jpg', alt='Responsive image')
            .col-md-12.tan
            .col-md-6
                .container-fluid
                    table.table.table-striped.table-hover.table-responsive
                        tr
                            th Full Name
                            th Location
                            th Last Employers
                            th Listed Skills
                        tr
                            td db.applications.find({},{firstName:5, lastName:5})
                            td db.applications.find({},{desiredCity:5, desiredState:5})
                            td db.applications.find({},{employer1:5, employer2:5, employer2:5})
                            td db.applications.find({},{skills1:5, skills2:5, skills2:5})


