extends layout

block content
        .row
            .col-md-6
             .container-fluid
                p.lead.text-uppercase
                    br
                    | Find the right Rando talent. Search by Name, talents desired location, or talent listed skills.
                form.search
                    .form-group
                        label(for='srhFrstName') First
                        input#srhFrstName.form-control(type='text', name='firstName', placeholder='First')

                    .form-group
                        label(for='srhLstName') Last
                        input#srhLstName.form-control(type='text', name='lastName', placeholder='Last')

                    .form-group
                        label(for='locDes') Location Available
                        input#locDes.form-control(type='text', name='locDesire', placeholder='Location Desired')

                    .form-group
                        label(for='skills') Skills Required
                        input#skills.form-control(type='text', name='skillDesire', placeholder='Skills Desired')
                        button.btn.btn-default.searchSkills(type='submit') Submit
            .col-md-6
                img.img-responsive(src='images/rdo.jpg', alt='Responsive image')
            .col-md-12.tan
            .col-md-6
                .container-fluid
                    table.table.table-bordered
                      tr
                        th Full Name
                        th Location
                        th Last Employee
                        th Listed Skills
                          each val in data
                            tr
                            td= val.firstName + " " + val.lastName
                            td= val.desiredCity + " " + val.desiredState
                            td= val.employer1 + " ," + val.employer2 + " ," + val.employer3
                            td= val.skills1 + " ," + val.skills2 + " ," + val.skills3


