extends layout

block content
  .container-fluid
    .row
      .col-md-9
        img.img-responsive(src='images/startup-593324_1920.jpg', alt='Responsive image')
      .col-md-3
        .container-fluid
          h3.text-center
            small
              | You aren't looking for a "temp". You aren't looking for "filler".
              | You and your buisness want more.
          h3.text-center Welcome to Rando.
          h4.text-center Drive. Commitment. Skill.
          p.lead.text-center It's what Rando is all about.
          img.img-responsive(src='images/rdo.jpg', alt='Responsive image')
  .row
    .col-md-12
  .container-fluid.tan
    .row
      .col-md-5
        .container-fluid
          p.lead.text-uppercase
            br
            | Work with Rando
          form.application
            .form-group
              label(for='fstName') First Name
              input#fstNameField.form-control(type='text', name='First Name', placeholder='First Name')
            .form-group
              label(for='lstName') Last Name
              input#lastNameField.form-control(type='text', name='Last Name', placeholder='Last Name')
            .form-group
              label(for='desiredJob') Desired Job
              input#desiredJob.form-control(type='text', name='Desired Job', placeholder='Desired Job')
            .form-group
              label(for='desiredLoc') Desired Location
              .radio
                label
                  input#optionsRadios1(type='radio', name='Remote', value='remote', checked='')
                  |           Remote
              .radio
                label
                  input#optionsRadios2(type='radio', name='Specific', value='specific')
                  |           Specific
              label(for='desiredJob') Desired City
              input#desiredLoc.form-control(type='text', name='Desired City', placeholder='Desired City')
              label(for='desiredJob') Desired State
              input#desiredLoc.form-control(type='text', name='Desired State', placeholder='Desired State')
            .form-group
              p.help-block.darkText Please enter your employment history, up to three positions.
            .form-group
              p.help-block.darkText Position One
            .form-group
              label(for='title') Title
              input#title1.form-control(type='text', name='Title1', placeholder='Job Title')
            .form-group
              label(for='employer') Employer
              input#employer1.form-control(type='text', name='Employer1', placeholder='Employer')
            .form-group
              label(for='city') City
              input#city1.form-control(type='text', name='City1', placeholder='City')
            .form-group
              label(for='state') State
              input#state1.form-control(type='text', name='State1', placeholder='State')
            .form-group
              label(for='duties') Duties
              input#duties1.form-control(type='text', name='Duties1', placeholder='Duties')
            .form-group
              label(for='skills') Skills
              input#skills1.form-control(type='text', name='Skills1', placeholder='Skills')
            .form-group
              p.help-block.darkText Position Two
            .form-group
              label(for='title') Title
              input#title2.form-control(type='text', name='Title2', placeholder='Job Title')
            .form-group
              label(for='employer') Employer
              input#employer2.form-control(type='text', name='Employer2', placeholder='Employer')
            .form-group
              label(for='city') City
              input#city2.form-control(type='text', name='City2', placeholder='City')
            .form-group
              label(for='state') State
              input#state2.form-control(type='text', name='State2', placeholder='State')
            .form-group
              label(for='duties') Duties
              input#duties2.form-control(type='text', name='Duties2', placeholder='Duties')
            .form-group
              label(for='skills') Skills
              input#skills2.form-control(type='text', name='Skills2', placeholder='Skills')
            .form-group
              p.help-block.darkText Position Three
            .form-group
              label(for='title') Title
              input#title3.form-control(type='text', name='Title3', placeholder='Job Title')
            .form-group
              label(for='employer') Employer
              input#employer3.form-control(type='text', name='Employer3', placeholder='Employer')
            .form-group
              label(for='city') City
              input#city3.form-control(type='text', name='City3', placeholder='City')
            .form-group
              label(for='state') State
              input#state3.form-control(type='text', name='State3', placeholder='State')
            .form-group
              label(for='duties') Duties
              input#duties3.form-control(type='text', name='Duties3', placeholder='Duties')
            .form-group
              label(for='skills') Skills
              input#skills3.form-control(type='text', name='Skills3', placeholder='Skills')
            button.btn.btn-default(type='submit') Submit
          .row
            .col-md-12
      .col-md-7
        img.img-responsive(src='images/desk-931928_1920.jpg', alt='Responsive image')
      .col-md-7
        img.img-responsive(src='images/write-593333_1920.jpg', alt='Responsive image')
      .col-md-7
        img.img-responsive(src='images/office-620817_1920.jpg', alt='Responsive image')
      .col-md-7
        img.img-responsive(src='images/writing-336370_1920.jpg', alt='Responsive image')
      .col-md-7
        img.img-responsive(src='images/writing-828911_1920.jpg', alt='Responsive image')
  .row
    .col-md-12
    div
      br

